<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adv.css') }}">
    <title>Adventure</title>
</head>
<body>
    <body>
        <div class="adv-container">
            <div id="response">adventure time</div>
            <input type="text" id="message-input" placeholder="Say something">
            <button onclick="adventureClick()">Continue</button>
        </div>

        <script src="{{ url_for('static', filename='js/adv.js') }}"></script>
    </body>
</body>
</html>